body
{
box-sizing: border-box;	
width: 100%;
background-color:black;
}

a:link {color:white; text-decoration:none;}     
a:visited {color:white;text-decoration:none;}  
a:hover {color:blue;text-decoration:none;}  
a:active {color:white;text-decoration:none;}

header 
{
font-family: times regular; 
font-weight: normal; 
font-size: 65px; 
color:white;  
margin: 30px 0 30px 40px; 
Line-Height: 67px;
}

ul#menu_horizontal { 
clear: both;
width : 355px; 
height : 60px;
margin : 10px 0 0 40px;
padding : 0;
list-style-type : none;
border: 3px white solid;
}
 
ul#menu_horizontal li {
margin: 17px 0 0 0;	
padding : 0px 0 10px 10px;  
line-height : 30px;
}
 
ul#menu_horizontal li.bouton_gauche {
float : left;
}
 
ul#menu_horizontal a {
color : black;
text-decoration : none;
padding : 0 0.7em; 
font-family: helvetica, arial, sans-serif; 
font-weight: normal; 
font-size: 20px;
color:white;
}
 
ul#menu_horizontal a:hover { 
text-decoration: underline; 
}
 

.contenu 
{
font-family: helvetica, arial, sans-serif; 
font-weight: normal; 
font-size: 20px; 
color:white;  
margin: 60px 40px 20px 40px; 
max-width:550px;
line-Height: 27px;
}

aside
{
margin-left: 750px;	
margin: 60px 0 0 0;
}
	
.liens
{
margin:60px 0 0px 40px;
}

.liens2
{
font-family: helvetica, arial, sans-serif; 
font-weight: normal; 
font-size: 20px; 
color:white;
margin:0 0 0 40px;
word-wrap:break-word;
line-Height: 27px;
}

h6
{
font-size: 14px; 
font-family: helvetica, arial, sans-serif; 
position:fixed; 
right: 5px; 
top: 0px; 
color:white; 
margin:40px 40px 0 0px; 
text-align:center;
}

footer
{
background-color:white;
font-size: 16px; 
font-family: times; 
font-weight: normal; 
position:fixed; 
left: 0px; 
bottom: 0px; 
color:black; 
width:100%;
}

.imagelivre
{
max-width: 600px;
vertical-align:top;
margin: 0 0 20px 40px;	
}